#find_center .mui-table-view-cell{
    width: 100%;
    
}
#find_center li{
    list-style: none;
    margin-top: .1rem;
    background: $base-color;
    @include flexbox();
    padding: 0 .1rem .1rem .1rem;
}
#find_center .atz-title-3{
    color: #000;
    padding: .06rem 0;
    font-size: .16rem;
    font-weight: normal;
}
#find_center .publish-time{
   padding: .02rem 0;
   text-align: left;
   color: #9c9c9c;
}
#find_center ul img{
    width: 100%;
}
#find_center .head {
    height: .4rem;
    @include flexbox();
    @include flex-direction();
    @include justify-content(center);
    @include align-items(center);
    margin-bottom: -.1rem;
}
#find_center .head img {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transition: transform 150ms;
        -webkit-transition: transform 150ms;
        width: .2rem;
        height: .2rem;
    }
#find_center .up {
        transform: rotate(360deg) !important;
        -webkit-transform: rotate(360deg) !important;
    }
 #find_center .foot {
        text-align: center;
        height: .4rem;
        line-height: .4rem;
    }
 #find_center .foot img {
        width: .2rem;
        height: .2rem;
        /*transform: rotate(0deg);*/
        /*-webkit-transform: rotate(0deg);*/
        transition: transform 150ms;
        -webkit-transition: transform 150ms;
    }
#find_center .down {
        transform: rotate(180deg) !important;
        -webkit-transform: rotate(180deg) !important;
    }