@charset "utf-8";

#find{
   height: 100%;
   width: 100%;
   @include flexbox();
   @include flex-direction(column);
   background: #efefef;
   
}

#find_top{
    height: .9rem;
    background: $base-color;
}
#find_center{
    overflow-y: scroll;
    @include flex(1);
    width: 100%;
}
#bottom{
    height: .5rem;
    width: 100%;
    background: $base-color;
} 
