#center #big_banner img{
    height: 1.62rem;
    width: 100%;

  
}
#center #sel{
    padding-top: .1rem;
    width: 100%;
    height: 1.6rem;
    @include flexbox();
    @include flex-flow(row wrap);
    @include align-content();
    text-align: center;
    @include border(0 0 .01rem 0,#dcdcdc);
    background: $base-color;
}
#center #sel li{
     width: 25%;
     height: .8rem;
     padding: .05rem 0;
     @include align-items(center);
}
#center #sel li a{
  font-size: .12rem;
  color: #666;
}
#center #sel li img{
    width: .45rem;
    height: .45rem;
}
#center .show{
    width: 100%;
}
#center .show img{;
   height:.4rem;
   width: 100%;
}
#center .go{
    display: block;
    width: 100%;
    margin-top: .1rem;
    padding-bottom: .1rem;
    background: $base-color;
}
#center .go img{
   height:.64rem;
   width: 100%;
}
#center .jingpin{
    width: 100%;
    height: .4rem;
    background: $base-color;
    line-height: .4rem;
    margin: .1rem 0;
    @include border(0 0 .01rem 0,#dcdcdc);
}
#center .jingpin p{
    color: #ff713f;
    font-size: .15rem;
    margin: 0 .15rem;
}
#center .hot{
    width: 100%;
    height: 1.12rem;
    background: $base-color;
    @include flex-direction(column);
}
#center .hot .hot_title{
    width: 100%;
    height: .4rem;
    @include flex-direction();
    line-height: .4rem;
    @include flexbox();
}
#center .hot .hot_title p{
    color: #ff713f;
    width: 80%;
    font-size: .15rem;
    margin: 0 .15rem;
}
#center .hot .hot_title a{
    color: #666;
    font-size: .15rem;
    width: 20%;
}
#center .hot ul{
    width: 100%;
    height: .92rem;
    @include flexbox();
   @include flex-flow(row wrap);
    @include border(.01rem 0 0 0,#dcdcdc);
    background: $base-color;
    
    
}
#center .hot ul li{
    width: 25%;
    height: .46rem;
    line-height: .46rem;
    @include align-items(center);
    text-align: center;
    @include border(0 .01rem .01rem 0,#dcdcdc);
    
   
}
#center .hot ul li img{
    width: .6rem;
    height: .24rem;
}
#center .hot ul li:nth-child(4){
    @include border(0 0 .01rem 0,#dcdcdc);
}
#center .hot ul li:nth-child(5){
    @include border(0 .01rem 0 0,#dcdcdc);
}
#center .hot ul li:nth-child(6){
    @include border(0 .01rem 0 0,#dcdcdc);
}
#center .hot ul li:nth-child(7){
    @include border(0 .01rem 0 0,#dcdcdc);
}
#center .hot ul li:nth-child(8){
    @include border(0 .01rem 0 0,#dcdcdc);
}
#center .hot ul li:nth-child(8){
    @include border(0 0 0 0,#dcdcdc);
}

#center .line{
    height: .2rem;
    color: #8f8f94;
    font-size: .14rem;
    text-align: center;
    line-height: .2rem;
    margin-top: .4rem;
    @include flexbox()
    @include flex-direction();
    @include justify-content(center);
}
#center .line .line1{
    width: 30%;
    height: .01rem;
    background: #c9c9c9;
    margin-top: .1rem;
   
}
#center .line .line2{
    margin: 0 .1rem;
}


#center .goods{
    margin-top: .2rem;
    width: 100%;
    @include flexbox()
    @include flex-flow(row wrap);
    padding:0 .05rem;
}
#center .goods li{
    width: 46%;
//  height: 2.13rem;
//  line-height: 2.13rem;
    @include flex-direction(column);
    background: $base-color;
    text-align: center;
    margin-left:.08rem;
    margin-top: .05rem;
    padding: .05rem;
}
#center .goods li img{
    width: 1rem;
    height: 1rem;

}
#center .goods li .content{
    width: 100%;
    height: .38rem;
    color: #343434;
    @include ellipsis(null,2);
    overflow: hidden;
    font-size: .12rem;
    text-align: left;
}
#center .goods li .rexiao{
    color: #ff7e2c;
    font-size: .16rem;
    font-weight: bold;
    @include border(.01rem 0 0 0,#dcdcdc);
    margin-top: .04rem;
    padding-top: .04rem;
}

.foot{
    background: $base-color;
    width: 100%;
}
.foot .logins{
    height: .42rem;
    @include flexbox();
    @include flex-direction();
    line-height: .42rem;
    margin-top: .4rem;
    @include align-items(center);
}
.foot .logins li{
    width: 25%;
    text-align: center;
}
.foot .logins li a{
    font-size: .12rem;
    color: #666;
    height: .12rem;
    width: 100%;
}
.foot .logins  .col{
    display: block;
    width: .01rem;
    height: .12rem;
    background:  #dcdcdc;
}
.foot .download{
    @include flexbox();
    @include flex-direction();
    height: .54rem;
   
}
.foot .download li{
    color: #8F8F94;
    width: 33%;
    height: .54rem;
    text-align: center;
}
.foot .download li a{
    color: #8F8F94;
}
.foot .download img:nth-child(1){
    width: .26rem;
    height: .29rem;
   
}
.foot .download img:nth-child(2){
    width: .33rem;
    height: .33rem;
}
.foot .download .one{
    margin: 0 auto;
    height: .36rem;
    width: .36rem;
    line-height: .36rem;
    text-align: center;
    @include border(.01rem,#8f8f94,solid,50%)
}
.foot .download .one1{
    color: #252525;
}
.foot .download .one2{
    @include border(.02rem,#252525,solid,50%)
}
.foot .copyright{
    text-align: center;
    font-size: .12rem;
    color: #8f8f94;
    margin-top: .2rem;
}
