.login .login-top a {
    @include flex(1);
    height: 100%;
    line-height: .44rem;
    text-align: center;
  
}
.login .login-top a img{
    width: .24rem;
    height: .24rem;
}
.login .login-top p{
    @include flex(7)
    color: #000;
    font-size: .17rem;
    line-height: .44rem;
    text-align: center;
}
.login .login-top b{
    height: 100%;
     @include flex(1)
}
